<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div id="signup">

  <div id="form">
    <div id="sighupheadding">
      <h2>Sign Up</h2>
      <hr/>
    </div>
    <form [formGroup]="SignUpForm" ngNativeValidate (ngSubmit)="Submit()">
      <div class="form-floating mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Enter email id"
          name="email"
          formControlName="emailFormControl"
          [(ngModel)]="signUpRequest.EmailId"
        />
        <label for="email">Email</label>
        <mat-error *ngIf="SignUpForm.get('emailFormControl')?.touched && SignUpForm.get('emailFormControl')?.invalid">
          * Enter Valid Email
        </mat-error>

      </div>

      <div id="password">
        <div class="form-floating  d-flex" >
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="pwd"
            placeholder="Enter password"
            name="pswd"
            formControlName="passwordFormControl"
            [(ngModel)]="signUpRequest.Password"
          />
          <button *ngIf="showPassword" (click)="togglePasswordVisibility()">
            <i class="fa-solid fa-eye-slash"></i>
          </button>
          <button *ngIf="!showPassword" (click)="togglePasswordVisibility()">
            <i class="fa-solid fa-eye"></i>
          </button>

          <label for="pwd">Password</label>
        </div>

      <mat-error *ngIf="SignUpForm.get('passwordFormControl')?.touched && SignUpForm.get('passwordFormControl')?.invalid">
        * Enter Valid password
        <!-- Password should contain:
        At least 8 characters in length,
        Lowercase letters,
        Uppercase letters,
        Numbers,
        Special characters -->
      </mat-error>
      </div>


      <div class="form-floating mt-3 mb-3 d-flex" id="Conformpassword">

        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          id="conformpwd"
          placeholder="Conform password"
          name="pswd"
          (input)="MathcPassword()"
          formControlName="conformPasswordFormControl"
          [(ngModel)]="conformPassword"
        />

        <button *ngIf="showPassword" (click)="togglePasswordVisibility()">
          <i class="fa-solid fa-eye-slash"></i>
        </button>
        <button *ngIf="!showPassword" (click)="togglePasswordVisibility()">
          <i class="fa-solid fa-eye"></i>
        </button>
        <label for="pwd">Confirm Password</label>

      </div>
      <mat-error *ngIf="(SignUpForm.get('conformPasswordFormControl')?.touched )&&(SignUpForm.get('passwordFormControl')?.value != SignUpForm.get('conformPasswordFormControl')?.value)">
        * Password not Matched
      </mat-error>

      <mat-error id="BackendResponse">
        {{Status}}
      </mat-error>

      <div>
        <button id="submit" [disabled]="SignUpForm.invalid || (SignUpForm.get('passwordFormControl')?.value != SignUpForm.get('conformPasswordFormControl')?.value)">Submit</button>
      </div>
    </form>

    <div id="AllreadyAMember">
      <div>
        <p>Allready a member ?</p>
      </div>
      <div>
        <div><button (click)="ChangePage()">Log In</button></div>
        <hr />
      </div>

    </div>


  </div>
</div>

