<head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@900&display=swap" rel="stylesheet">
</head>
<div id="Intro">
  <div id="logo">
    <img src="../assets/carpool/logo.png" alt="" />
  </div>

  <div id="introMessage">
    <h1>TURN <span class="OrangeMessage"> MILES </span></h1>
    <h1>INTO <span class="VioletMessage">MONEY</span></h1>
    <p id="subMessage">RIDES ON TAP</p>
  </div>
  <div id="convoImage">
    <img src="../../assets/carpool/SignUpLogin.png" alt="" height="400px">
  </div>
</div>
