#MyRides
{
  display: flex;
  padding: 30px;
  padding-top:0px;
  display: flex;
  background-image: url('../../../assets/carpool/Bg2.png');
  /* border: solid black; */
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1300px;
}

#MyRides div
{
  width: 400px;
  margin-right: 20px;
}

label
{
  /* border:solid; */
  padding: 2px 20px 2px 20px;
  margin-left: 20px;
  color:white;
  border-radius: 5px;
  margin-bottom: 20px;
}
#BookedRides label
{
  background-color: rgba(147,25,255,255);
}
#OfferedRides label
{
  background-color: orange;
}
