#navBar
{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#profile
{
  display: flex;
}


#profile img,img
{
  height:50px;
  border-radius: 25px;
}

#profile p
{
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}

button
{
  background-color: white;
  border: none;
}


.dropdown-item:hover {
  color: white;
  background-color: rgba(147,25,255,255);
}

.dropdown button:hover,.dropdown button {
  background: white;
}

