<div id="YourMatches">
  <div id="MatchList" *ngFor="let ride of MatchingRides" let i="index">
    <div class="MatchCard" (click)="OpenDetails(ride.RideID)">
      <div id="header">
        <div>
          <p>{{ ride.Name }}</p>
        </div>
        <div><img src="../../../../assets/carpool/profile-1.png" alt="" /></div>
      </div>

      <div id="body">
        <div>
          <div id="from">
            <p class="Label">From</p>
            <p class="RideData">{{ ride.From }}</p>
          </div>

          <div id="from">
            <p class="Label">Date</p>
            <p class="RideData">{{ ride.Date }}</p>
          </div>

          <div id="from">
            <p class="Label">Price</p>
            <p class="RideData">{{ ride.Price }}</p>
          </div>
        </div>

        <div id="LocationAnimation">
          <div id="Start">
            <i class="fa-solid fa-circle" style="font-size: 12px"></i>
          </div>

          <div id="middle">
            <ul>
              <li *ngFor="let loop3 of [].constructor(4); let i = index">
                <i class="fa-solid fa-circle" style="font-size: 6px"></i>
              </li>
            </ul>
          </div>

          <div id="end">
            <i class="fa-solid fa-location-dot"></i>
          </div>
        </div>

        <div>
          <div id="from">
            <p class="Label">To</p>
            <p class="RideData">{{ ride.To }}</p>
          </div>

          <div id="from">
            <p class="Label">Time</p>
            <p class="RideData">{{ ride.Time }}</p>
          </div>

          <div id="from">
            <p class="Label">Seat Avilability</p>
            <p class="RideData">{{ ride.SeatAvailability }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
