<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div id="login">

  <div id="form">
    <div id="loginheadding">
      <h2>Log In</h2>
      <hr/>
    </div>
    <form>
      <div class="form-floating mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Enter email Id"
          name="email"
        />
        <label for="email">Email</label>
      </div>

      <div class="form-floating mt-3 mb-3 d-flex" id="password">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          id="pwd"
          placeholder="Enter password"
          name="pswd"
        />
        <button *ngIf="showPassword" (click)="togglePasswordVisibility()">
          <i class="fa-solid fa-eye-slash"></i>
        </button>
        <button *ngIf="!showPassword" (click)="togglePasswordVisibility()">
          <i class="fa-solid fa-eye"></i>
        </button>
        <label for="pwd">Password</label>
      </div>

      <div>
        <button id="submit">Submit</button>
      </div>
    </form>

    <div id="NotaMember">
      <div>
        <p>Not a Member yet ?</p>
      </div>
      <div>
        <div>
          <div><button (click)="ChangePage()">Sign Up</button></div>
        </div>
        <hr />
      </div>

    </div>
  </div>
</div>
